<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Cover Letter Template</title>
	<meta name="description" content="Description">
	<meta name="vonclaude" content="Author">

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">	
</head>

<body ng-app="letter">
	<md-content>
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Applicant Information</span>
					<span class="md-subhead">Enter your information and the posting information in the relevant fields.</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<div layout="row">
					<md-input-container>
						<label>Name</label>
						<input ng-model="name">
					</md-input-container>
					
					<md-input-container>
						<label>Phone Number</label>
						<input ng-model="phone" type="tel">
					</md-input-container>
					
					<md-input-container>
						<label>Email</label>
						<input ng-model="email" type="email">
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container>
						<label>Position</label>
						<input ng-model="position">
					</md-input-container>
					
					<md-input-container>
						<label>Source</label>
						<input ng-model="source">
					</md-input-container>
				</div>

				<div layout="row">
					<md-input-container flex>
						<label>Qualification 1</label>
						<textarea ng-model="qual_1"></textarea>
					</md-input-container>
					<md-input-container flex>
						<label>Qualification 2</label>
						<textarea ng-model="qual_2"></textarea>
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
						<label>Qualification 3</label>
						<textarea ng-model="qual_3"></textarea>
					</md-input-container>
					<md-input-container flex>
						<label>Qualification 4</label>
						<textarea ng-model="qual_4"></textarea>
					</md-input-container>
				</div>
					
				<div layout="column">
					<md-input-container>
						<label>Intro Paragraph</label>
						<textarea ng-model="intro"></textarea>
					</md-input-container>
				
					<md-input-container>
						<label>Conclusion</label>
						<textarea ng-model="conclusion"></textarea>
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>
	</md-content>
	
	<hr />
	
	<div id="letter">
		<p>To whom it may concern:</p>

		<p>I saw your posting for a {{position}} on {{source}}, and I was very interested in applying! Having reviewed your requirements for the position, I am confident that I have the skills you need to be able to contribute.</p>

		<p>{{intro}}</p>

		<p>Of your requirements, I wanted to highlight a few which most closely match with my previous experience.</p>

		<ul>
			<li>- {{qual_1}}</li>
			<li>- {{qual_2}}</li>
			<li>- {{qual_3}}</li>
			<li>- {{qual_4}}</li>
		</ul>

		<p>{{conclusion}} I would be a great help to you and your team, and hope you think so too! I look forward to hearing back from you. Please contact me anytime at the number or email address below.</p>

		<ul>
			<li>{{name}}</li>
			<li>{{phone}}</li>
			<li>{{email}}</li>
		</ul>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
	<script src="script/letter.module.js"></script>
	
</body>

</html>